/* Importing Roboto Condensed font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

/* General styles */
body {
    margin: 0 10%;
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 1.5;
    color: #333;
    background-color: #f4f4f4; /* Light gray background */
}

/* Dark Mode styles */
@media (prefers-color-scheme: dark) {
    body {
        color: #f4f4f4;
        background-color: #333;
    }
    section a {
        color: #58a6ff;
    }
    .card {
        background-color: #444;
        border-color: #555;
        color: #f4f4f4;
    }
    section h2 {
        border-color: #555;
    }
}

/* Header styles */
header h1 {
    font-size: 2.5em;
    font-weight: 700;
    text-align: center;
    margin: 20px 0;
    background-color: #ff4d4d; /* Red background */
    padding: 10px;
    color: #fff;
    border-radius: 8px;
}

/* Section styles */
section {
    margin-bottom: 30px;
}

section h2 {
    font-size: 1.75em;
    font-weight: 700;
    margin-bottom: 15px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

section p {
    font-size: 1em;
    margin-bottom: 10px;
}

section ol, section ul {
    margin-left: 20px;
    margin-bottom: 20px;
}

section li {
    font-size: 1em;
    margin-bottom: 10px;
}

section li strong {
    font-weight: 700;
}

section a {
    color: #007BFF;
    text-decoration: none;
}

section a:hover {
    text-decoration: underline;
}

/* Footer styles */
footer {
    background-color: #f9f9f9;
    padding: 20px 0;
    text-align: center;
}

footer p {
    font-size: 1em;
}

.cardContainer {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

/* Mobile responsive design */
@media (max-width: 768px) {
    .cardContainer {
        grid-template-columns: 1fr; /* Single column for smaller screens */
    }
}

.card {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.card strong {
    display: block;
    margin-bottom: 10px;
    color: #333;
}
